body{
    /* 背景をグラデーションにする */
background: linear-gradient(45deg, #f6e3a4, #fbe8e9);
color:#270f0f;
}

    /* 画像にふちをつける */
img {
    padding: 5px;
    border: 9px solid rgb(255, 255, 255);
}

/* フッターの色 */
footer{
    background-color:#fff0be;
    }

    .fade{

        animation: fadeIn 0.2s ease 0.3s 1 normal;
      
      }

/* 文字の装飾のやつやで */
.solid_line {
    /*上と下にグレイの1pxの線を引きます*/
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
  }
  .dashed_line {
    /*上と下に水色の1pxの破線を引きます*/
    border-top: dashed 1px rgb(255, 255, 255);
    border-bottom: dashed 1px rgb(255, 255, 255);	
  }
  p {padding: 10px
    /*両方ともpadding10pxに*/}

/* 文字の色 */
    .shadow {
        text-shadow: 5px 5px 2px rgb(255, 255, 255);
        /*文字を太字にするとよりそれらしくなります*/
        font-weight: bold;
      }


h1 {
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

/* h1 */
h1 {
  position: relative;
  padding: 0.6em;
  background: #ffced0;
}

h1:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ffced0;
  width: 0;
  height: 0;
}

/* h2 */
h2 {
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #ffced0;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

h2:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

/* トップの上に出てくる奴よ */
    .navigation {
      width: 100%;
      height: 60px;
      background-color: #ffffff;
    }
    .navigation a {
      color: rgb(142, 142, 142);
    }


    .navigation {
      width: 100%;
      height: 60px;
      background-color: #c8a5a5;
    }
    .navigation ul {
      display: flex;
      list-style: none;
    }
    .navigation li {
      margin-right: 55px;
    }
    .navigation a {
      color: #fff;
      text-decoration: none;
    }

    .navigation {
      width: 100%;
      height: 60px;
      background-color: #ffffff;
      padding-top: 15px;
      box-sizing: border-box;
    }
    .navigation ul {
      display: flex;
      list-style: none;
      margin: 0;
    }
    .navigation li {
      margin-right: 55px;
    }
    .navigation a {
      color: #675454;
      text-decoration: none;
    }
/* トップおわり */

/* フッターよ */
.footer02 {
 color: #ffffff;
 background: #e3bebe;
 text-align: center;
 padding: 30px;
}
.footer02 a {
 color: #675454;
 text-decoration: none;
}
.footer02 a:hover {
 text-decoration: underline;
}
.footer02 .menu {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.footer02 .menu li {
 margin: 0;
 padding: 0 20px;
}
.footer02 .copyright {
 margin: 0;
 padding: 20px 0 0 0;
}

/* フッターおわり */

/* 画像カーソル合わせると */



/* 画像おわり */